build
invoke
.gradle/**/*
.idea
.DS_Store
logs
out
runtime/logs
runtime/omega*.jar
*.omega_result
/.nb-gradle/
.nb-gradle-properties
*.omega_anim.prev*
SAVED-*
*.omega_assets.zip
*omega_bundle.manifest
__*
*.0.0
local.properties

# Ignore Gradle project-specific cache directory
.gradle
Z*
runtime/omega_assets/*
runtime/default.omega_assets
runtime/DEBUG
runtime/lib
runtime*.tar.gz
runtime*.tar
.kotlin
runtime/startOmega.app/Home
runtime/startOmega.app/openjdk-24.0.1/
